@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');



h1 {
font-family: 'Righteous', cursive;
}


p {
   font-family: 'Roboto', sans-serif; 
}

.text-center {
    text-align: center;   
}

.jumbotron {
    background-color: white;
}

.fixed-height {
    height: 5em;
    width: 100%;
}

.small-padding {
    padding-top: 1em;
    padding-bottom: 1em;
    
}